@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --bg-header: #3c9af0;
  --bg-footer: #3c9af0;
  --bg-comments: #c8c8c8;
  --bg-card: #ffffff;

  --color-primary: #ffffff;
  --color-secundary: #5e5e5e;
  --color-tertiary: #3c9af0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dsc-color-bg-primary);
}
